@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    background-color: rgb(245, 245,245);
}

.container{
    padding: 50px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.click{
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

.title{
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

button{
    cursor: pointer;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

.blue{
    color: #130ce1
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content:"";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    right: 0;
    background-color: black;
    width: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #242424;
}


.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 3px solid #c0c4c0;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 40px;
    padding-left: 4px;
    margin-top: 12px;
    margin-bottom: 16px;
    transition: all 300ms ease;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #2f14e1;
}

textarea {
    resize: vertical;
    height: 100px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

nav, .scroll, .header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease-in-out;
}

.pointer {
    cursor: pointer;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .nav__link--anchor,
.dark-theme .header__para,
.dark-theme .fa-circle-half-stroke{
    color: white;
}

.dark-theme section{
    background-color: #242424;
}

.dark-theme .mail__btn,
.dark-theme .scroll__icon,
.dark-theme .nav__logo--img,
.dark-theme .link__hover-effect--black:after {
    filter: invert(1);
}

/* 

Landing Page

*/

#landing--page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para{
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: #130ce1;
    border-radius: 50%;
    color: #fff;
    padding: 6px;
    margin: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.mail__btn{
    width: 40px;
    height: 40px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after{
   content: "";
   width: 4px;
   height: 6px;
   background-color: #242424;
   border-radius: 2px;
   animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px)
    }

    100% {
        transform: translateY(-3px)
    }
}

.fa-arrow-left {
    color: #2f14e1;
}

/* 

Navigation

*/


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.nav__link{
    margin: 0 12px;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}


.logo__img--wrapper{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.fa-solid{
    font-size: 20px;
}


/* 

MODAL


*/


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 1100px;
    height: 600px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s, z-index 1s, box-shadow 0.5s ease-out;
}

.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 72px;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}


.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    margin: 12px 12px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
}

.modal__subtitle {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    width: 100%;
    flex-direction: column;
}

.form__submit {
    background-color: #2f14e1;
    color: #fff;
    font-weight: 700;
    border: 2px solid #2f14e1;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #2f14e1;
    color: #2f14e1;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    font-size: 80px;
    animation: spinner 750ms infinite linear;
}


@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.modal__exit {
    position: absolute;
    top: 24px;
    right: 20px;
    font-size: 26px;
    z-index: 100;
    color: #fff;
}

.modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    opacity: 1;
    visibility: visible;
}

/* 

Projects 

*/

section {
    transition: all 300ms ease;
}

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project{
    margin: 64px 0;
}

.project__wrapper{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    transition: all 300ms ease;
}

.project__img {
    width: 100%;
    transition: all 300ms ease;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__description--sub-title {
    margin: 8px 0;
}

.project__description--para {
    margin: 16px 0;
    font-size: 20px;
    font-weight: 500;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%)
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__description--title {
    font-size: 40px;
    font-weight: 700;
}

.project__description--link {
    color: white;
    margin: 4px 4px 0 4px; 
    font-size: 20px;
}

/* 

Footer

*/

footer{
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}



.footer__row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__social--link,
.footer__copyright {
    color: white;
}

.footer__copyright {
    margin-top: 12px;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer__logo--img{
    filter: invert(1);
}

.footer__logo--img, .nav__logo--img {
    width: 100%;
    height: 100%;
}